.App-nav {
  background-color: crimson;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  width: 75px;
}

.App-navItens {
  display: flex;
}

.App-navItens-ul {
  display: flex;
  justify-content: space-between;
}
.App-navItens-ul-li {
  padding: 10px;
  list-style-type: none;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.7s;
  font-size: larger;
  font-weight: bold;
}

a:hover {
  padding: 15px;
  background-color: black;
  border-radius: 90px;
  color: white;
}
