.App-nav {
  background-color: crimson;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.App-logo {
  width: 75px;
}

.App-flex {
  display: flex;
  align-items: center;
}

.App-navItens-ul {
  display: flex;
  justify-content: space-between;
}
.App-navItens-ul-li {
  padding: 10px;
  list-style-type: none;
}

.App-navItens-ul-li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: 0.7s;
  font-size: larger;
  font-weight: bold;
}

.App-navItens-ul-li a:hover {
  padding: 15px;
  background-color: black;
  border-radius: 90px;
  color: white;
}

.App-carrinho {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.7s;
}

.App-carrinho:hover {
  background-color: white;
  border-radius: 90px;
}

.App-img-carrinho {
  width: 50px;
}

.App-carrinho-numero {
  font-weight: bolder;
  font-size: 25px;
}
